@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
    overflow-y: scroll;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
    background-color: #3A7CA5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    color: #D9DCD6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3vh;
}

#list{
    list-style: none;
    padding: 0;
}

#list td {
    font-weight: 400;
    color: #D9DCD6;
    font-size: 2em;
    padding-right: 2vw;
}

#input-id {
    font-family: 'Inter var', sans-serif;
    resize: none;
    height: 20vh;
    width: 50vw;
    font-size: 1em;
}

#submit-id {
    user-select: none;
    margin-top: 30px;
    margin-bottom: 32px;
    background-color:#16425B;
    border: none;
    color:#D9DCD6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.15s;
    font-family: 'Inter var', sans-serif;
}

#submit-id:hover {
    margin-top:32px;
    margin-bottom:30px;
    cursor: pointer;
}

.header h1 {
    font-weight: 600;
    color: #D9DCD6;
    font-size: 3em;
}

.output-box {
    display: flex;
    flex-direction: column;
    margin: 0 0 3vh 0;
    align-items: left;
}

.output {
    flex-direction: column;
    width: 50vw;
    text-align: left;
    align-items: left;
    display: flex;
}

.search {
    margin-bottom: 3vh;

}

#search-id {
    font-family: 'Inter var', sans-serif;
}

@media only screen and (max-width: 900px) {
    .output, .output-box {
        text-align: center;
        align-items: center;
    }
}
